---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-yaml
      - id: detect-private-key
      - id: check-symlinks
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
      - id: go-build-repo-mod
      - id: go-mod-tidy-repo
      - id: go-test-repo-mod
      - id: go-vet-repo-mod
      - id: go-sec-repo-mod
      - id: go-staticcheck-repo-mod
      - id: go-imports-repo
      - id: go-critic
      - id: golangci-lint-repo-mod
